body {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #e5d9b6;
}

.main-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #a4be7b;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #285430;
  margin: 0;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #285430b9;
}

.tab {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  background-color: #e5d9b6;
}

.tab button {
  color: #285430;
  background-color: inherit;
  float: left;
  border: 5px;
  border-color: #285430;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  color: #e5d9b6;
  background-color: #285430c3;
}

/* .tab button.active {
  color: #e5d9b6;
  background-color: #285430c3;
} */

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
