$primary: #E9E5D6;
$secondary: #A4BE7B;
$accents: #285430;
$Poppins: 'Poppins', sans-serif;

body {
  margin: 0;
  height: 100%;
  /* background-image: url('./utils/clear\ Trade\ background.png'); 
  background-size: cover; 
  background-position: center; */
}

#visualizer {
  display: flex;
  flex-wrap: wrap;
}

#tab-view {
  flex: 1;
  background-color: $secondary;
  padding: 40px;
  margin: 0;
}

#graph-view {
  flex: 1;
  background-color: $primary;
  padding: 40px;
  margin: 0;
  height: 100%;
}

h1,
h3 {
  font-family: $Poppins;
  color: $accents;
  margin: 0;
}

p {
  font-family: $Poppins;
  font-size: 1rem;
  line-height: 1.6;
  color: #285430b9;
}

.units {
  font-family: $Poppins;
  font-size: 0.8rem;
  line-height: 1.6;
  color: #285430b9;
}

.tab {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: $primary;
}

.tab button {
  font-family: $Poppins;
  font-weight: 400;
  flex-grow: 1;
  color: $accents;
  background-color: inherit;
  border: 5px;
  border-color: $accents;
  outline: 1px solid #a4be7b;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  color: $primary;
  background-color: #285430c3;
}

.tab button:focus {
  color: $primary;
  background-color: #285430c3;
}

.tabcontent label {
  font-family: $Poppins;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 400;
  color: #285430b9;
}

.tabcontent input {
  color: $accents;
  font-size: 1rem;
  height: 1.8rem;
  background-color: $primary;
  padding: 4px;
  border: $primary;
  border-radius: 2.5px;
}

.tabcontent {
  font-family: $Poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem 0;
}